<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Footer</strong>
      </p>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>

</style>