<template>
  <div id="app">
    <div class="container">
      <HeaderLayout></HeaderLayout>
      <main>
        <router-view></router-view>
      </main>
      <FooterLayout></FooterLayout>
    </div>
  </div>
</template>

<script>
import HeaderLayout from "./components/layout/Header.vue";
import FooterLayout from "./components/layout/Footer.vue";

export default {
  name: "app",
  components: {
    HeaderLayout,
    FooterLayout
  }
};
</script>
